 .header{
   background: linear-gradient(269.84deg, #FF005C -10.98%, rgba(0, 0, 0, 0.88) 100%);
 }
.input{

    width: 300px;
    background: #CCCCCC;
    opacity: 0.4;
    border-radius: 5px;
    color: white;
    border: none;
 }
.div{
    width: 500px;
}
.catalog{
    margin: 60px  ;
    border: 1px solid #FF005C;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Inter', SansSerif, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #434343;
}