 .header{
   background: linear-gradient(269.84deg, #FF005C -10.98%, rgba(0, 0, 0, 0.88) 100%);
 }
.input{

    width: 300px;
    background: #CCCCCC;
    opacity: 0.4;
    border-radius: 5px;
    color: white;
    border: none;
 }
.div{
    width: 500px;
}